.profilePic {
    width: 450px;
    height: 435px;
    border-radius: 10px;
    border: 3px solid black;
}

.followScroll {
    position: fixed;
    top: 15.5%;
    right: 5%;
}


.followScroll2 {
    position: fixed;
    top: 35%;
    right: 5%;
}

.followScroll3 {
    position: fixed;
    top: 76.5%;
    right: 5%;
}

.ownerProfile {
    position: relative;
    bottom: 70px;
    left: 300px;
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 100px;
    border: 3px solid black;
}

.bg {
    background-color: #f7f7f7;
}

#choice1:hover {
    opacity: 0.5;
}

#choice2:hover {
    opacity: 0.5;
}

#choice3:hover {
    opacity: 0.5;
}



.side-img {
    width: 100px;
    height: 100px;
}