.profilePic {
    width: 450px;
    height: 435px;
    border-radius: 10px;
    border: 3px solid black;
}

.followScroll {
    position: fixed;
    top: 14.%;
    right: 5%;
}


.followScroll2 {
    position: fixed;
    top: 34%;
    right: 5%;
}

.followScroll3 {
    position: fixed;
    top: 50%;
    right: 5%;
}

.ownerProfile {
    position: relative;
    bottom: 70px;
    left: 300px;
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 100px;
    border: 3px solid black;
    -webkit-transition: bottom 0.5s ease-out;
    -moz-transition: bottom 0.5s ease-out;
    -o-transition: bottom 0.5s ease-out;
}

.ownerProfile:hover {
	cursor:pointer;
    bottom: 75px;
}

.bg {
    background-color: #f7f7f7;
}

#choice1:hover {
    opacity: 0.5;
}

#choice2:hover {
    opacity: 0.5;
}

#choice3:hover {
    opacity: 0.5;
}

#mainPetPic:hover {
    opacity: 0.5;
}

.side-img {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
}

#actualChat {
    display: none;
}

.other {
    text-align: left;
}

.me {
    text-align: right;
}

.list-group-item {
    font-size: 12px;
}

#viewContractButton {
    display: none;
}

#successNotif {
    display: none;
}

#failNotif {
    display: none;
}