.create-profile-padding {
    padding-top: 90px;
}

.info-panel {
    min-height: 650px;
}

.img-title {
    text-decoration: underline;
    padding-bottom: 10px;
    font-family: "Montserrat";
}

.img-panel {
    padding-top: 10px;
}

.personal-info {
    padding-top: 10px;
}

.the-form {
    font-family: "Droid Sans";
}

#home-address {
    resize: none;
}

.info-title {
    text-decoration: underline;
    padding-bottom: 10px;
    font-family: "Montserrat";
}

.btn-file {
    position: relative;
    overflow: hidden;
    font-family: "Droid Sans";
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.post-btn {
    font-family: "Droid Sans";
}

.img-eg-box {
    min-height: 452px;
}

#img-upload{
    width: 100%;
}
