.backgroundwallpaper {
    padding-top: 10px;
    height: 750px;
    /* The image used */
    background-image: url('../images/pattern3.png');
    background-color: #E5E7E1;
}

.info-panel {
    height: inherit;
}

.img-title {
    text-decoration: underline;
    padding-bottom: 10px;
}

.img-panel {
    padding-top: 10px;
}

.vertical-line {
    width: 1px;
    background-color: grey;
    height: 100%;
}

.personal-info {
    padding-top: 10px;
}

#home-address {
    resize: none;
}

.info-title {
    text-decoration: underline;
    padding-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-eg-box {
    min-height: 452px;
}

#img-upload {
    width: 100%;
}
