body {
    font-family: 'Droid Sans', sans-serif;
}

.openlogin-popup {
    background-color:#FFFFFF;
    border:5px solid #ff99cc;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:absolute;
    font-family: 'Montserrat';
    text-align:left;
    height: 300px;
    width:50%;
    z-index:50;
    padding: 0px 25px 20px;
    border-radius: 10px;
}

.openlogin-popup li {
    list-style: none;
    padding: 8px;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
}

.formbox {
    padding-top: 25px;
}

#divider {
    position:relative;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
  background: rgba(0,0,0,0.7 );
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
}

#home .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 100%;
}

.go-top:link {
    text-decoration: none;
}

.go-top:hover {
    background: #ff1493;
    color: #ffffff;
}

#welcome_msg {
    margin-bottom: 10%;
    margin-left: 10%;
}

h1 {
    font-family: 'Montserrat';
    font-size: 40px;
}

h2 {
    font-family: 'Montserrat';
    
}

.main-home {
  background-image: url("../images/dog_walking4.jpg");
  background-repeat: no-repeat;
      height: 80vh;

}

.row1 {
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 20px;
}

.row2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.row3 {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.row4 {
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.side-pic img{
    height: 300px;
}

.side-pic img:hover {
    opacity: 0.5;
}

footer {
    background: #cc648a;
    font-family: 'Montserrat';
    color: white;
}


