.openlogin-popup {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:absolute;
    text-align:left;
    height: 300px;
    width:40%;
    z-index:50;
    padding: 0px 25px 20px;
}

.formbox {
    padding-top: 25px;
}

#divider {
    position:relative;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
  background: rgba(0,0,0,0.7 );
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
}

.main-home {
  background-image: url("../images/Story.jpg");
  background-repeat: no-repeat;
      height: 70vh;

}

#content {
    
}


