/*Note: for this .css file, only do it when you have time.
Warning: it will cause a lot of things to break in the navbar*/

.navbar-inner {
    height: 9999px;
}

.navbar {
    background: #ff99cc;
    margin-bottom: 0;
}

.glyphicon {
    color: white;
}

.btn-basic {
    background: white;
    color: #ff99cc !important;
    line-height: 1;
    vertical-align: bottom;
    padding: 10px !important;
    margin-right: 5px;
}

.btn-basic:hover, .btn-basic:focus {
    background: deeppink !important;
    color: white !important;
}

.listingTab {
    border: 1px white;
    font-size: 18px;
    font-family: "Montserrat";
}

#button-comment:hover, #button-comment:focus,
#button-bell:hover, #button-bell:focus,
#button-bell:hover, #button-bell:focus {
    background: deeppink !important;
    color: white !important;
}