/* Left Panels */
.owner-picture {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.name-owner {
    font-size: 20px;
}

.picture-box {
    box-shadow: 0px 0px 20px #888888;
}

.name-box {
    box-shadow: 0px 0px 20px #888888;
}

.rating-owner {
    text-decoration: underline;
}

.rating-box {
   box-shadow: 0px 0px 20px #888888; 
}

.personal-info-box {
    box-shadow: 0px 0px 20px #888888;
}

.info-owner {
    text-decoration: underline;
}

.chat-box-div a {
    text-decoration: none;
    color: hotpink;
}

.chat-box {
    background-color: #FFB6C1;
    box-shadow: 0px 0px 20px #888888;
}

.chat-box:hover {
    background-color: #ffcbd3;
}

.map-box-div a {
    text-decoration: none;
    color: #1C6BA0;
}

.map-box {
    background-color: #89cff0;
    box-shadow: 0px 0px 20px #888888;
}

.map-box:hover {
    background-color: #D9EBFA;
}

.list-owner {
    text-decoration: underline;
}

.list-box {
    box-shadow: 0px 0px 20px #888888;
}


/* Right Panels */

/* "My Pets" box*/
.pet-box {
    box-shadow: 0px 0px 20px #888888;
}

.pet-title {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-decoration: underline;
}

.pet-box-pic:hover {
    opacity: 0.5;
}

/* "Live Feed" box*/
.livefeed-box {
    box-shadow: 0px 0px 20px #888888;
}

hr {
    margin: 0px;
    padding-bottom: 20px;
}

.livefeed-title {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: underline;
}

.date-time {
    display: inline-block;
    vertical-align: middle;
}

/* Photos and Videos box*/
.pv-box {
    box-shadow: 0px 0px 20px #888888;
}

.pv-title {
    padding-left: 15px;
    text-decoration: underline;
}

.pv-pic:hover {
    opacity: 0.5;
}

/* History box*/
.history-box {
    box-shadow: 0px 0px 20px #888888;
}

.history-title {
    padding-left: 15px;
    text-decoration: underline;
}

.history-pic:hover {
    opacity: 0.5;
}
