/* Left Panels */
.owner-picture {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.name-owner {
    font-size: 25px;
}

.picture-box {
    box-shadow: 0px 0px 20px #888888;
}

.name-box {
    box-shadow: 0px 0px 20px #888888;
}

.rating-owner {
    text-decoration: underline;
    padding-top: 5px;
    font-size: 20px;
}

.rating-box {
   box-shadow: 0px 0px 20px #888888;
   color: black;
}

.rating-box-div a {
    text-decoration: none;
}

.rating-box:hover {
    opacity: 0.5;
}

.rating-stars {
    padding-top: 10px;
    padding-left: 2em;
    padding-right: 2em;
}

.glyphicon-star {
    font-size: 1vw;
    color: gold;
}

.review-link {
    padding-top: 20px;
    padding-bottom: 5px;
}

.personal-info-box {
    box-shadow: 0px 0px 20px #888888;
}

.info-owner {
    padding-top: 5px;
    text-decoration: underline;
    font-size: 20px;
}

.full-name-owner {
    padding-top: 15px;
}

#title {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.age-owner {
    padding-top: 15px;
}

.social-media-owner {
    padding-top: 15px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 15px;
}

.chat-box-div a {
    text-decoration: none;
    color: hotpink;
}

.chat-box {
    background-color: #FFB6C1;
    box-shadow: 0px 0px 20px #888888;
}

.chat-box:hover {
    background-color: #ffcbd3;
}

.chat-owner {
    font-size: 20px;
}

.map-box-div a {
    text-decoration: none;
    color: #1C6BA0;
}

.map-box {
    background-color: #89cff0;
    box-shadow: 0px 0px 20px #888888;
}

.map-box:hover {
    background-color: #D9EBFA;
}

.map-owner {
    font-size: 20px;
}

.list-owner {
    text-decoration: underline;
    font-size: 20px;
    padding-top: 5px;
}

.list-box {
    box-shadow: 0px 0px 20px #888888;
}

.list-box-pic {
    padding-top: 12px;
    padding-bottom: 5px;
}

.balancer {
    min-height: 8px;
    box-shadow: 0px 0px 20px #888888;
}


/* Right Panels */

/* "My Pets" box*/
.pet-box {
    box-shadow: 0px 0px 20px #888888;
}

.pet-title {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-decoration: underline;
}

.pet-box-pic:hover {
    opacity: 0.5;
}

/* "Live Feed" box*/
.livefeed-box {
    box-shadow: 0px 0px 20px #888888;
}

.feed-activities-box {
    min-height: 461px;
    max-height: 461px;
    overflow-y: scroll;
}

hr {
    margin: 0px;
    padding-bottom: 20px;
}

.livefeed-title {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: underline;
}

.start-status {
    padding-bottom: 10px;
}

.status-text {
    padding: 10px;
    word-wrap: break-word;
}

.date-time {
    display: inline-block;
    vertical-align: middle;
}

/* Photos and Videos box*/
.pv-box {
    box-shadow: 0px 0px 20px #888888;
}

.pv-title {
    padding-left: 15px;
    text-decoration: underline;
}

.pv-pic:hover {
    opacity: 0.5;
}

/* History box*/
.history-box {
    box-shadow: 0px 0px 20px #888888;
}

.history-title {
    padding-left: 15px;
    text-decoration: underline;
}

.history-pic:hover {
    opacity: 0.5;
}

/* self-defined columns */
@media (min-width: 768px){
  .five-cols .col-xs-1,
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1  {
    width: 20%;
    *width: 20%;
  }
}

@media (min-width: 992px) {
  .five-cols .col-xs-1,
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
    *width: 20%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .five-cols .col-xs-1,
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
    *width: 20%;
  }
}
