.nav-bar-padding {
    padding-top: 20px;
}

.photo-box {
    background-color: #eee;
    max-height: 840px;
}

.photo-picture-offset {
    padding-left: 2em;
    padding-right: 2em;
}

.photo-title {
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 12px;
    text-decoration: underline;
    font-size: 20px;
}

.panel-photo {
    min-height: 200px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-glyp {
    text-align: center;
}

.add-glyp span {
    line-height: 200px;
}

.add-glyp-size {
    font-size: 80px;
}

.btn-pink {
    color: white !important;
    background-color: #ff99cc;
}

.btn-pink:hover {
    opacity: 0.5;
}

.back-button a {
    text-decoration: none;
}

.back-button {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
}
